*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: sans-serif;
}
/* Estilização Header*/
header{
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #ff5c5c;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}
header > h1{
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
}
.letra-branca{
    color: white;
}

button{
    color: #000000;
    border: 1px solid #ff5c5cab;
    background-color: white;
    font-size: larger;
    padding: 10px;
    border: solid black;
    border-radius: 15px;
    text-decoration: none;
}

button:hover
{
    background-color: gray;
}
a{
    color: inherit;
}


/*Estilização do menu*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: white;
}
nav>div{
    margin: 10px;
}

/*Estilização main*/
main{
   
}
/*Estilização quem somos*/

/*Estilização nossos produtos*/
.nossos-produtos{
    background-image:url(fundo.jpg);
    
}
.planos{
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-around;
    
    text-align: center;
}
.basico {
    border: 1px solid #ff5c5c;
    background-color: white;
    border-radius: 15%;
    padding: 30px;
}
.intermediario{
    border: 1px solid #ff5c5c;
    background-color: white;
    border-radius: 15%;
    padding: 30px;
}
.luxo{
    border: 1px solid #ff5c5c;
    background-color: white;
    border-radius: 15%;
    padding: 30px;
}
.basico>img{
    width: 380px;
    height: 250px;
}
.intermediario>img{
    width: 380px;
    height: 250px;
}
.luxo>img{
    width: 380px;
    height: 250px;
}


/*Estilização nosso time*/
.tituloms{
    text-align: center;
    font-size: 25px;
}

.nosso-time{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.Giulia img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
}
.Mizael img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.Nicole img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
/*Estilização contato*/

/*Estilização quem-somos*/

.quem-somos{
    padding-top:  100px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 50vh;
    text-transform: uppercase;
}

.quem-somos > p{
    padding-top: 40px;
    text-align: center;
}

.quem-somos > h1{
    font-size: xx-large;
    text-align: center;
}

.nossa-missao
{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 50vh;
    text-transform: uppercase;
}


.nossa-missao > p{
    text-align: center;
    padding-top: 40px;
}

.nossa-missao > h2{
    text-align: center;
    font-size: xx-large;
}


/*Estilização footer*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    background-color: #ff5c5c;
}